<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<% if(typeof(msg1) != 'undefined') { %>
		<% if(msg1.length > 0) { %>
            <% msg1.forEach(function(error) { %>
            <p style="color:red"><%= error.msg %></p>
            <%})%>
             <% } %>
            <% } %>
	<form method="post">
		<fieldset>
			<legend>Delete Campaign</legend>
			<table>

				<tr>
					<td>Target Fund</td>
					<td><%= target_fund %></td>
				</tr>
				<tr>
					<td>Raised Fund</td>
					<td><%= raised_fund %></td>
				</tr>
				<tr>
					<td>Campaign Type</td>
					<td><%= ctype %></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><%= description %></td>
				</tr>
				<tr>
					<td>Publish Date</td>
					<td><%= publisedDate %></td>
				</tr>
				<tr>
					<td>Status</td>
					<% if (status ==0) { %>
				<td> not approved!</td>
				<%} else if(status == 1) { %>
				<td> approved </td>
				<% }else{%>
				<td>block</td> <%} %>
				</tr>
				<tr>
					<td>Title</td>
					<td><%= title %></td>
				</tr>
				<tr>
					<td>Are sure? this can't be undone!</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Confirm"></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>