<!DOCTYPE html>
<html>
<head>
	<title>Campaign</title>
</head>
<body>
	
		<fieldset>
			
			<table>
				<tr>
					<td>uid</td>
					<td><%= uid %></td>
				</tr>
				<tr>
					<td>Target Fund</td>
					<td><%= target_fund %></td>
				</tr>
				<tr>
					<td>Raised Fund</td>
					<td><%= raised_fund %></td>
				</tr>
				<tr>
					<td>Campaign Type</td>
					<td><%= ctype %></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><%= description %></td>
				</tr>
				<tr>
					<td>Publish Date</td>
					<td><%= publishDate %></td>
				</tr>
				<tr>
					<td>End Date</td>
					<td><%= endDate %></td>
				</tr>
				<tr>
					<td>Title</td>
					<td><%= title %></td>
				</tr>
			</table>
		</fieldset>
		<br>
	<a href="/home">Back</a>|
	<a href="/logout">Logout</a>
	<br>
</body>
</html>