<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<script src="/jquery/jquery.js"></script>
</head>
<body>
	<h1>Welcome, <%= name %></h1>
	<h3>Your ID, <%= id %></h3>


	<a href = "/organization/create">Create Campaign</a> | 
	<a href = "home/campaignlist">Campaign list</a> |
	<a href = "home/bookmarkslist">Bookmarks list</a> |
	<a href ="/logout">logout</a>

	<hr>
	<div>
			<br>
		
			<fieldset>
				
				<table>
					<tr>
						<td><label for="name">Search Campaign: </label></td>
						<td>
							<input id = "name" class="name" type="text" name="name" placeholder="Campaign title">
						</td>
						<td>
							<button class="search">Search</button>
						</td>
					</tr>
				</table>
				
			</fieldset>
		
	</div>


	<br>
	<%= typeof msg1 != 'undefined' ? msg1 : '' %>
	<form method="post" enctype="multipart/form-data">
		<fieldset>
			<table>
				<tr>
					<td>
						<label for="file">Upload Image: </label>
						<input type="file" id="file" name="file">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value = "Upload">
					</td>
				</tr>
			</table>
		</fieldset>
	</form>

	<div id="info">
		
	</div>
	<div>
		<h2>History</h2>
			<table border="1">
		<tr>
			<td>Campaign ID</td>
			<td>Status</td>
			<td>Title</td>
		</tr>

		<% 
			campaign.forEach( function(std){ %>
			<tr>
				<td><%= std.id %></td>
				<% if (std.status ==0) { %>
				<td> not approved!</td>
				<%} else if(std.status == 1) { %>
				<td> approved </td>
				<% }else{%>
				<td>block</td> <%} %>
				<td>
					<a href="/organization/view/<%= std.id %>/<%= std.uid %>/<%= std.target_fund %>/<%= std.raised_fund %>/<%= std.ctype %>/<%= std.description %>/<%= std.image %>/<%= std.publisedDate %>/<%= std.endDate %>/<%= std.title %>"><%= std.title %></a>
				</td>
			</tr>
		<%
			}); 
		%>
		
	</table>
		
	</div>
	<script src = "/main.js"></script>
</body>
</html>