<!DOCTYPE html>
<html>
<head>
	<title>Delete Campaign</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Delete Campaign</legend>
			<table>
				<tr>
					<td>uid</td>
					<td><%= uid %></td>
				</tr>
				<tr>
					<td>Target Fund</td>
					<td><%= target_fund %></td>
				</tr>
				<tr>
					<td>Raised Fund</td>
					<td><%= raised_fund %></td>
				</tr>
				<tr>
					<td>Campaign Type</td>
					<td><%= ctype %></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><%= description %></td>
				</tr>
				<tr>
					<td>Image</td>
					<td><%= image %></td>
				</tr>
				<tr>
					<td>Publish Date</td>
					<td><%= publisedDate %></td>
				</tr>
				<tr>
					<td>End Date</td>
					<td><%= endDate %></td>
				</tr>
				<tr>
					<td>Status</td>
					<td><%= status %></td>
				</tr>
				<tr>
					<td>Title</td>
					<td><%= title %></td>
				</tr>
				<tr>
					<td>Are sure? this can't be undone!</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Confirm"></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>